
body { 
    text-align:center;
    background:#eee;
    margin:0; padding:0;
    }

#output {
/*    position:fixed; */
    width:100%;
    background:black;
    color:white;
    font-size:2em;
    font-family:'Courier New',Courier,monospace;
    transition:opacity 2s;  
}

.fancy {
    transform:rotate(7deg);
    -ms-transform:rotate(7deg); /* IE 9 */
    -webkit-transform:rotate(7deg); /* Safari and Chrome */    
}

/* BG BOXES */
#things {
    position:relative; /* Note: z-index only works on positioned elements (absolute, fixed, or the explicitly stated default: relative). */
    z-index:101; /* place it above other elements/layers */
    background:rgba(0,0,0,0.5);
    padding:0px;
    width:330px;
    margin:10px auto 10px;
}

/* BOXES CONTENT */
.thing {
    display:inline-block;
    height:100px; 	width:100px;
    margin:1px;	padding:0px;
    border-radius:50%;
    box-shadow:1px 1px 7px rgba(0,0,0,0.5);
    transition:background 1s;      
	
    background: CornFlowerBlue;
    color:white;
    line-height:100px;
}

.thing:hover{ 
    cursor:pointer; 
    background: LightSkyBlue; 
}
