/* CSS */
/* 
Name: Web manifestation 0.1
Author: Ricardo Vega Mora  
Date: oct 2013
About: Created as a homework for Web 3 Class at parsons The New School, NY., teacher Matthew Wilse. 
More info: www.ricardov.cl  
Creative Commons Licence. 

+ OPTIONS
+ mesage up to 100 words, see script to limit words
+ or connected w twitter. 
+ conditionals for IE in some cases?
*/

body {
	margin:0px;
	padding:0px;
	font-family: 'Rambla', sans-serif;
	font-family: Georgia, Times, Serif;
	color:white;
	font-size:100%;	
}	

a:link, a:hover, a:visited, a:active, #infobutton {
	color:yellow;
	text-decoration:none;
}

/* - T O P - - - - - - - - - - - - - - - - - - - - */
#wrapper {
	width:100%;
	height:250px;
	position:absolute;
	bottom:0px;
}
#wrapper_top {
	display:block;
	width:100%;
	height:auto;
	position:absolute;
	top:0px;
}

header {
	display:block;
	width:100%;
	background:MidnightBlue;
	top:0px;
	font-family: Rambla;
	padding:15px 0px 5px 0px;
}
header h1 {
	width:100px;
	margin:5px;
	display:inline;
	color:orangered;
	font-family: 'Kavoon', cursive;
	font-weight:normal;
	font-size:1.0em;
	letter-spacing:1px;
}
header p, select, input {
	display:inline;
	margin:4px;
	font-size:0.8em;
}
nav {
	margin:2px 2px 0px 2px;	
}
input[type="text"] {
height: 10px;
width: 200px;
}
input[id="inputmessage"] {
width: 350px;
}
hr {
	border:1px dotted grey;
    border-style:none none dotted;
	margin:4px 2px 4px 2px;
}

/* - F O R M S  - - - - - - - - - - - - - - - - - - - - */
.mybuttons {
	padding: 5px !important;
	margin: 0px 5px 0px 5px ;
	border:0px;
	background-color:Lightblue;
	font-family: Rambla;
	font-weight: normal;
	font-size: 0.9em;
	color: indigo;
}
#getcodebutton {
 	margin:5px 15px 5px 5px;	
}
.myforms {
	padding: 0px !important;
	margin: 5px ;
	border:0px;
	font-family: Rambla;
	font-weight: normal;
	font-size: 0.9em;
	color: indigo;
}

#show_hide_top { /* Button to hide top navigation */
	position:relative;
	float:right;
	top:0px;
	right:0px;
	width:30px;
	height:35px;
 	margin:0px 15px 0px 0px ;
	padding:0px;
}
form { 
	display:inline;
}
input, textarea { 
    display:inline; 
    margin:.5em; 
    width:30%;
    border:1px solid #ccc;
    box-shadow:none;
    border-radius:3px;
    padding:.5em;
	background-color:lightgreen;
	border-spacing: 0;
	font-family: Rambla;
}
textarea { 
    resize: vertical; 
    }
button {
    margin:.5em 0 0 auto;
}



/* - B O T T O M - - - - - - - - - - - - - - - - - - - - */
#test, #recibido {
	display:block;
	position:relative;
	top:200px;
	background: yellow;
	color:black;	
}
#test p {
	background: brown;
}

section {
	position:absolute;
	bottom:0px;
	width:100%;
	height:250px;
	margin:0px;
	padding:0px;
}
#bg {
	background: url('../img/landscape_1.gif'); 
	border: 0px solid blue;
}

#cartel {
	background: url('../img/cartel_1.gif') no-repeat center;
}
#cartel h1, #cartel h2 {
	position:relative;
	width:360px;
	top:6%;
	margin:auto;
	background:rgba(200, 200, 0, 0.0); 
	font-family:'Architects Daughter', cursive;
	font-size:1.2em;
	font-weight:normal;
	text-align:center;
	letter-spacing:0.08em;
	color:black;
	vertical-align: center;	
}
#people {
	background:white;
	border:0px solid yellow;
	background: url('../img/people_1.gif');
}
#people h1 {
	font-size:1em;
	text-align:left;
}
#protesters {
	height:150px;/* height of protesters box */
}
article {
	width:20%;
	max-width:150px;
	height:150px;
	display:inline-block;
	border:0px solid white;
	margin:0px;
}
#protester_a {
}
#protester_b {
}
#protester_c {
	float:right;
}
#protester_d {
	float:right;
}
.draggable { 
	width: 20px; 
	height: 20px; 
	padding: 0.5em;	 
	border:0px solid black; 
}

#protesters img {
	bottom:0px;
/*	height:100%; */
	width:150px;
	height :150px;
	margin:0px;
	padding:0px;
	border:0px solid coral;
}

/* BOX FOR COPYCODE */
.overlay {
    display:none;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.7);
    width:100%;
    height:100%;
    z-index:2000;
}

#box{
    display:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin : 0 auto;
    margin-top:150px;
    width:500px;
    height:225px;
    border:10px solid black;
    background:HoneyDew;
    padding:5px;
    color:black;
    font-size:0.8em;
	font-family: Rambla;
}
#info{
    display:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin : 0 auto;
    margin-top:150px;
    width:400px;
    height:350px;
    border:10px solid black;
    background:HoneyDew;
    padding:5px;
    color:black;
    font-size:0.8em;
	font-family: Rambla;
}
.overlay p {
    display:block;
    margin: 10px 10px;
    color:black;
    text-align: center;
}
.overlay a:link, .overlay a:hover, .overlay a:visited, .overlay a:active {
    color:OrangeRed;
    text-align: center;
	text-decoration:none;
}
.overlay input {
	width: 90%;
    margin: 10px;
}
#box h2, #info h2 {
	width:97%;
	padding:4px;
 	font-size:1.0em;
	text-align: center;
	font-weight:normal;

}
#box h2 {
	background:white;
	border:1px solid lightGrey;
}

#ricardovlogo, img #ricardovlogo {
	position:absolute;
	bottom:5px;
	right:5px;
 	width:15px;  height:15px;
}



