/* CSS */

body {
	font-size:100%;
	margin:0px;
	padding:0px;
	font-family: Georgia, Times, Serif;
	color:white;
	font-size:100%;	
}	

a:link, a:hover, a:visited, a:active, #infobutton {
	color:yellow;
	text-decoration:none;
}

/* - T O P - - - - - - - - - - - - - - - - - - - - */
#wrapper {
	width:100%;
	height:250px;
	position:absolute;
	bottom:-4px;
}
header {
	display:block;
	width:100%;
	background:indigo;
	position:absolute;
	top:0px;
}
header h1 {
	width:100px;
	font-size:0.8em;
	margin:5px;
	display:inline;
	color:OrangeRed;
}
header p, select, input {
	display:inline;
	margin:4px;
	font-size:0.8em;
}
nav {
	margin:2px;	
}
input[type="text"] {
height: 10px;
width: 200px;
}
input[id="inputmessage"] {
width: 350px;
}
hr {
	border:1px dotted grey;
    border-style:none none dotted;
	margin:2px 0px 2px 0px;
}

/* - F O R M S  - - - - - - - - - - - - - - - - - - - - */
.mybuttons {
	padding: 5px !important;
	margin: 0px 5px 0px 5px ;
	border:0px;
	background-color:Lightblue;
	font-weight: normal;
	font-size: 0.9em;
	font-family: Georgia, Times, Serif;
	color: indigo;
}
#getcodebutton {
	float:right;
 	margin:0px 15px 0px 0px ;	
}
.myforms {
	padding: 0px !important;
	margin: 0px 2px 0px 5px ;
	border:0px;
	font-weight: normal;
	font-size: 0.9em;
	color: indigo;
}

#show_hide_top { /* Button to hide top navigation */
	position:absolute;
	top:0px;
	right:0px;
	width:42px;
	height:18px;
 	margin:0px 15px 0px 0px ;
	padding:3px;
	background:orangeRed;
}

/* - B O T T O M - - - - - - - - - - - - - - - - - - - - */
#test, #recibido {
	display:block;
	position:relative;
	top:200px;
	background: yellow;
	color:black;	
}
#test p {
	background: brown;
}

section {
	position:absolute;
	bottom:0px;
	width:100%;
	height:250px;
	margin:0px;
	padding:0px;
}
#bg {
	background: url('../img/landscape_1.gif'); 
	border: 0px solid blue;
}

#cartel {
	background: url('../img/cartel_1.gif') no-repeat center;
}
#cartel h1, #cartel h2 {
	position:relative;
	width:360px;
	top:6%;
	margin:auto;
	background:rgba(200, 200, 0, 0.4); 
	font-size:1.0em;
	font-family:Courier, Georgia, Times, Serif;
	text-align:center;
	color:black;
	vertical-align: center;	
}
#people {
	background:white;
	border:0px solid yellow;
	background: url('../img/people_1.gif');
}
#people h1 {
	font-size:1em;
	text-align:left;
}
#protesters {
	height:150px;/* height of protesters box */
/*	background: rgba(200, 200, 0, .2); */
}
article {
	width:20%;
	max-width:150px;
	height:150px;
	display:inline-block;
/*	background: rgba(200, 0, 0, .2); */
	border:0px solid white;
	margin:0px;
}
#protester_a {
}
#protester_b {
}
#protester_c {
	float:right;
}
#protester_d {
	float:right;
}
.draggable { 
/*	width: 20px; 
	height: 20px; 
	padding: 0.5em;
*/	 
	border:1px solid black; 
}

img {
	bottom:0px;
/*	height:100%; */
	width:150px;
	height :150px;
	margin:0px;
	padding:0px;
	border:0px solid coral;
}

/* BOX FOR COPYCODE */
.overlay {
    display:none;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.7);
    width:100%;
    height:100%;
    z-index:2000;
}

#box{
    display:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin : 0 auto;
    margin-top:150px;
    width:500px;
    height:175px;
    border:10px solid black;
    background:HoneyDew;
    padding:5px;
    color:black;
    font-size:0.8em;
}
#info{
    display:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin : 0 auto;
    margin-top:150px;
    width:400px;
    height:250px;
    border:10px solid black;
    background:HoneyDew;
    padding:5px;
    color:black;
    font-size:0.8em;
}
.overlay p {
    display:block;
    margin: 10px 10px;
    color:black;
    text-align: center;
}
.overlay input {
	width: 90%;
    margin: 10px;
}
#box h2, #info h2 {
	width:97%;
	padding:4px;
 	font-size:1.0em;
	text-align: center;
}
#box h2 {
	background:white;
	border:1px solid lightGrey;
}

#ricardovlogo, img #ricardovlogo {
	position:absolute;
	bottom:0px;
	right:0px;
 	width:22px;  height:22px;
}


/* - F O R M - - - - - - - - - - - - - - - - - - - - */
form { 
	margin-bottom:2px; 
	display:inline;
}
input, textarea { 
    display:inline; 
    margin:.2em 0; 
    width:30%;
    border:1px solid #ccc;
    box-shadow:none;
    border-radius:3px;
    padding:.25em;
}
textarea { 
    height:50px;
    resize: vertical; 
    }
button {
    margin:.5em 0 0 auto;
}

