/* GENERAL */
body {
	font-family: georgia, times, serif;
    font-size: 12px;
    color: grey;
    width:960px;
/*    background: whitesmoke;  */
    background: whitesmoke url(img/bg_grilla.png) top center repeat-y; /*  */
	margin:0px auto 0px;
	text-decoration:none;
}
body a {
    color: grey;
	text-decoration:none;
	font-family: 'Cantarell';
}
/* H1 H2 H3 P */
h1, h2, h3 { 
	font-family: 'Cantarell';
    font-size: 14px;
      }
h2 {
	font-size: 12px;
	color:blue;
	}
h3 {
	font-size: 12px;
	}
p {
	font-size: 12px;
	line-height:170%;
	}


						/* HEADER */
header {
width:960px;
height:160px;
margin:20px auto 20px;
padding:0px;
background: whitesmoke url(img/logo.png) top left repeat-y; 
border-bottom:1px dotted grey;
font-family: 'Cantata One', cursive;
}
header h1 { 
    font-size: 16px;
	color:red;
	margin-top:2px;
/*	border-bottom:1px dotted grey;*/
      }
header h2 { 
    font-size: 10px;
	color:grey;
 	border-bottom:1px dotted grey;
      }


						/* NAVTOP */
#headertit, #navtop1, #navtop2, #navtop3, #navtop4 {
width:160px;
height:140px;
padding:0px;
margin:0px 0px 0px 70px;
position: absolute;  top:20px;
}
#navtop1 {
width:100px;
margin-left: 250px;
}
#navtop2 {
width:100px;
margin-left: 370px;
}
#navtop3 {
width:100px;
margin-left: 490px;
}
#navtop4 {
width:100px;
margin-left: 620px;
}
#navtop1 ul, #navtop2 ul, #navtop3 ul, #navtop4 ul { 
    font-size: 10px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	list-style-type: none;
      }
#navtop1 li, #navtop2 li, #navtop3 li, #navtop4 li { 
	decoration: none;
	margin: 0px 0px 1px 0px;

          }


						/* SECTION HOME */
#sectionhome {
width:960px;
height:460px; /* Slider box size  */
margin:20px auto 40px;
background:whitesmoke;
border-bottom:1px dotted grey;
}


						/* SLIDER HOME */
#sliderhome {
width:960px;
height:300px;
margin:10px;
float:left;
}
#sliderbox { /* Box text bellow slider home */
width:460px;
height:auto;
float:left;
margin:0px 20px 20px 0px; /* Separtion between boxes*/
background: whitesmoke	;
}


					/* BOX HOME */

#boxhome {
width:960px;
height:auto;
float:left;
background: whitesmoke	;
}
#box { /* Box text bellow slider home */
width:220px;
height:auto;
float:left;
margin:10px 10px 40px 10px; /* Separtion between boxes*/
background: whitesmoke;
}




						/* FOOTER HOME */
footer {
width:960px;
height:160px;
margin:20px 0px 0px 0px;
background:whitesmoke;
float:right;
text-align:center;
border-top:1px dotted grey;

}

						/* SECTION HOME */
section {
width:700px;
margin:10px;
background: whitesmoke url(img/logo.png) top center repeat-y; 
border-bottom:1px dotted grey;
float:right;
}
aside {
width:220px;
height:auto;
margin:10px;
float:left;
background:whitesmoke;
}


#caja{
width:570px;
height:200px;
margin:20px auto 20px;
padding:20px;
background: whitesmoke url(img/logo.png) top center repeat-y; 
text-align:center;
}
#caja h1 { 
	font-family: 'Cantata One', cursive;
    font-size: 20px;
    color:red;
    margin:5px auto 10px;
      }
#caja p {
	font-size: 14px;
	}


						/* RELATED PROJECTS */
/* * * * * * * * RED SITIOS * * * * * * * * * * * * * */
#relatedcontenedor {
		width:100%;    
		height:20px; 
position:absolute;  top:0px; /*centrada en el body*/
position:static\9;  
		display: block;
		background: black;
		text-transform: Capitalize;
		font-size:10px;   color: white; 
}
#relatedprojects {
		width: 960;		width: 960px\9;
		height:20px;		height:20px\9;
		margin:0px auto 0px; /*body centrado*/
		margin:0px auto 0px\9;
		display: block;		display: block\9;
		background: black;
}
#relatedprojects ul {
		margin: 0px;
		padding: 5px 0px 0px 5px;
}
#relatedprojects li {
		margin: 0px 5px 0px 0px; /* separacion linea de links top*/
		padding: 0px 5px 0px 0px;
		display: inline;
		border-right: 1px solid grey;
}
#relatedprojects a:active, #relatedprojects a:link {
		color:white;
		}
#relatedprojects a:hover, #relatedprojects a:visited {
		color:greenyellow;
}


